.main-layout {
  width: 100%;
  height: 100vh;
  background: #f0f2f5;
}

.content-layout {
  background: #f0f2f5;
  height: calc(100vh - 64px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin: 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
  height: calc(100vh - 64px - 40px - 32px);
  overflow: auto;
  flex: 1;
}
